
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Reponse</title>
</head>
<body>
    <div>
        <center>
            <h1>Reponse Student E-Learning</h1>
            <h1> @ViewBag.msg </h1>
        </center>
        <a style="color: mediumspringgreen; background-color: white; border-color: white" href="/Etudiant/login">Se Connecter ?</a>

    </div>
</body>
</html>
